<div class="petition">
    <p class="title-petition">No smoking in public places</p>
    <img src="/no-smoking-sign.png" alt="pain" />
    <p class="text-petition">There is no risk-free level of secondhand smoke,
        and even brief exposure can cause immediate harm. Studies have shown
        that smokefree laws that prohibit smoking in public places like bars and
        restaurants help improve the health of workers and the general
        population.
    </p>
    {{#if showWarning}}
    <p class="text-petition warning">Please fill in all details</p>
    {{/if}}
</div>
<form action="/petition" method="POST">
    <div class="input-credo">
        <input class="input-fname" type="text" name="fname" placeholder="First name" >
        <input class="input-lname" type="text" name="lname" placeholder="Last name" ><br>
    </div>
    <p class="text-petition">Sign here:</p>
    <input id="sigHidden" style="display: none;" name="signature" value="">
    <canvas id="signatureCanvas" width="280px" height="70px"></canvas><br>
     <input id="submitBtn" type="submit" value="Submit"><br>
    <a class="text-petition" href="/signers">Already signed: {{signersCount}}</a>
</form>
<script src="/canvas.js"></script>