<div class="petition">
    <p class="title-petition">No smoking in public places</p>
    <img src="/no-smoking-sign.png" alt="No Smoking Sign" />
    <p class="text-petition">There is no risk-free level of secondhand smoke,
        and even brief exposure can cause immediate harm. Studies have shown
        that smokefree laws that prohibit smoking in public places like bars and
        restaurants help improve the health of workers and the general
        population.
    </p>
</div>
<form action="/petition" method="POST">
    <div class="text-petition">
        <p>Welcome {{fName}} {{lName}}!</p>
    </div>
    {{#if showWarning}}
        <p class="text-petition warning">Please put your sign below</p>
    {{/if}}
    <p class="text-petition">Sign here:</p>
    <input id="sigHidden" style="display: none;" name="signature" value="" />
    <canvas id="signatureCanvas" width="280px" height="70px"></canvas>
    <input id="submitBtn" type="submit" value="Submit" />
    <p class="text-petition">Already signed: {{signersCount}}</p>
</form>
<script src="/canvas.js"></script>