<div class="registration">
    <img src="/no-smoking-sign.png" alt="No Smoking Sign" />
    <p class="text-petition">Join our campaign today!</p>
    {{#if showWarning}}
        <p class="text-petition warning">Please fill in all details</p>
    {{/if}}
</div>
<form action="/registration" method="POST">
    <div>
        <input class="input-fname" type="text" name="fname" placeholder="First name">
        <input class="input-lname" type="text" name="lname" placeholder="Last name"><br>
        <input class="input-email" type="text" name="email" placeholder="example@gmail.com">
        <input class="input-pass" type="password" name="password" placeholder="Password"><br>
    </div>
     <input id="registerBtn" type="submit" value="Sign Up"><br>
    <p class="text-petition">If you already a member, log in <a href="/login">here</a>.</p>
</form>