<div class="thanks">
    <h1 class="thanks-text">Thanks
        {{fName}}
        for helping to make the world a healthier place!</h1>
    <img id="sigImg" src="{{finalImg}}" alt="Signature Image" />
    <a class="thanks-text" href="/signers">The petition was signed in total:
        {{signersCount}}</a><br />
    <a class="thanks-text" href="/edit">Change your data</a>
    <p>-----------------</p>
    <form action="/delete-sig" method="POST">
        <input id="delBtn" type="submit" value="Delete signature" />
    </form>
    <form action="/delete-user" method="POST">
        <input id="delBtn" type="submit" value="Delete user">
    </form>
    <form action="/log-out" method="POST">
     <input id="logOutBtn" type="submit" value="Log out"><br>
    </form>
</div>