body {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
}

.thanks {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Martian Mono", monospace;
}

.thanks-text {
    width: 600px;
    text-align: center;
}

.signers {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Martian Mono", monospace;
}

.signers-text {
    width: 600px;
    text-align: center;
}

.petition,
.registration {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-petition {
    font-family: "Rubik 80s Fade", cursive;
    width: 600px;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.text-petition {
    font-family: "Martian Mono", monospace;
    width: 600px;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.warning {
    color: red;
}

canvas {
    border: 2px dotted #cccccc;
    border-radius: 15px;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-credo {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* padding: 10px; */
    /* margin: 10px; */
}

.input-fname,
.input-lname,
.input-email,
.input-pass {
    margin: 10px;
}

.input-user-data {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#delBtn {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: "Martian Mono", monospace;
    font-size: 16px;
    color: #632299;
    text-decoration: underline;
    cursor: pointer;
}
